.search-input{
    width:400px;
    display:block;
    margin-bottom: 50px;
}
.my-google-logo-img{
    width:350px;
    display: block;
    /* padding-bottom: 50px; */
    margin-top:50px;
}
div{
    display: block;
    padding-bottom: 50px;
}